#header-container {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  z-index: 15;
  background: #fff;
}

#banana {
  height: 8vh;
  width: 4vw;
}

#siteTitle {
  color: tomato;
  font-size: 4.5vw;
  font-family: 'Cabin Sketch', cursive;
  margin-left: 10px;
  margin-top: 5vh;

}
